.links ul {
    list-style: none;
    padding: 0;
}
.links li {
    display: inline-block;
}
.links a {
    margin-top: 26px;
    margin-bottom: 26px;
    text-decoration: none;
    color: #f00;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.links {
    text-align: center;
}
 a {
    margin-right: 72px;
 }
 img {
    margin-bottom: 50px;
    height: 700px;
    width: 100%;
 }
 h2 {
     /* text-align: center;  */
    /* position: absolute; */
        
         margin: 0 auto; 
        
        width: 774px;
        height: 29px;
        left: 253px;
        top: 48px;  

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 3.3px;

        color: #373737;

 }

 .first-text {
    margin-top: 38px ;
    margin-bottom: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.second-text {
    margin-bottom: 66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.button {
    display: inline-block;
    background: red;
    color: #FFFFFF;
    padding: 18px 44px;
    
    border-radius: 3px;
    text-decoration: none;
    margin: 0 auto;
    width: 105px;
    height: 35px;
    left: 587px;
    top: 575px; 

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */

    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
     

}
.note {
    margin: 82px 80px 29px 950px ;
    /* width: 462px;
    height: 39px;
    left: 608px;
    top: 0px; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;

    color: #373737;

}